.article-list-section {
	.section-title {
		font-size: 1.8rem;
		font-weight: bold;
		color: var(--accent-color);
		text-align: center;
		margin-bottom: 1rem;
	}

	.article-list {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.article-item {
			border: 1px solid var(--input-border-dark);
			border-radius: var(--border-radius);
			padding: 1.5rem;
			background-color: var(--secondary-color);
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
			transition:
				transform 0.3s ease-in-out,
				box-shadow 0.3s ease-in-out;

			&:hover {
				transform: translateY(-5px);
				box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
			}
		}
	}
}

.home {
	padding: 2rem;
	max-width: 1200px;
	margin: 0 auto;

	.articles {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
}
