// frontend/src/styles/main.scss

@use 'tailwindcss';
@layer base {
	// Base styles
	@apply font-sans text-base;

	h1 {
		@apply text-4xl font-bold; /* Tailwind utility classes */
	}

	h2 {
		@apply text-3xl font-semibold;
	}

	h3 {
		@apply text-2xl font-medium;
	}
}

@layer theme {
	// Light theme colors
	:root {
		--color-primary: #124e78;
		--color-secondary: #127a75;
		--color-accent: #f0c06e;
		--color-background: #fdfdfd;
		--color-error: #ef5350;
		--color-text: #111827;
		--color-white: #fdfdfd;
	}

	// Dark theme colors
	[data-theme='dark'] {
		--color-primary: #124e78;
		--color-secondary: #127a75;
		--color-accent: #f0c06e;
		--color-background: #111827;
		--color-error: #ef5350;
		--color-text: #fdfdfd;
		--color-white: #fdfdfd;
	}
}

@layer components {
	// Button styles
	.btn1 {
		@apply px-4 py-2 rounded w-xs border-none;
		border: none;
		cursor: pointer;
		color: var(--color-white);
		background-color: var(--color-primary);
		&:hover {
			background-color: --alpha(var(--color-primary) / 90%);
		}
	}

	.btn2 {
		@apply px-4 py-2 rounded w-xs;
		cursor: pointer;
		color: var(--color-white);
		background-color: var(--color-secondary);
		&:hover {
			background-color: --alpha(var(--color-secondary) / 90%);
		}
	}

	.btn-warn {
		@apply px-4 py-2 rounded w-xs;
		cursor: pointer;
		color: var(--color-white);
		background-color: var(--color-error);
		&:hover {
			background-color: --alpha(var(--color-error) / 90%);
		}
	}

	.form {
		@apply w-xl;
	}

	// Card styles
	.card {
		@apply w-2xl p-8 rounded-lg shadow-md;
		background-color: var(--color-background);
		color: var(--color-text);
	}
}

@layer utilities {
	// Custom utility classes
	.bg-primary {
		background-color: var(--color-primary);
	}

	.bg-secondary {
		background-color: var(--color-secondary);
	}

	.text-primary {
		color: var(--color-primary);
	}

	.text-secondary {
		color: var(--color-secondary);
	}

	.border-primary {
		border-color: var(--color-primary);
	}

	.border-error {
		border-color: var(--color-error);
	}

	// Add more custom utilities as needed
}

// Additional Tailwind setup

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
